# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
# Enable version updates for GitHub Actions workflows
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      # Ignore updates for dependencies with names containing "github-script"
      - dependency-name: "*github-script*"

# Enable version updates for Docker
  - package-ecosystem: docker
    directory: "./00_old_one_from_proposal"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "./02_custom_docker_file_connecting_agent_and_controller/dockerfiles"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "./03_maven_tutorial"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "./03_maven_tutorial/dockerfiles"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "./03_maven_tutorial/dockerfiles/agent"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "./dockerfiles"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10
  - package-ecosystem: docker
    directory: "./experimental_docker_compose_files/simple-node-js-react-npm-app/node_modules/@surma/rollup-plugin-off-main-thread"
    schedule:
      interval: weekly
    open-pull-requests-limit: 10