services:
  jenkins_controller: 
    image: jenkins/jenkins:2.401.1-lts
    restart: on-failure
    environment:
      - JENKINS_EXT_URL=${JENKINS_EXT_URL:-http://localhost:8080} # Default to localhost:8080 with HTTP
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
    
  jenkins_agent:
    image: jenkins/ssh-agent:5.3.0-jdk11
    environment:
      - JENKINS_AGENT_SSH_PUBKEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINVxUeiHKOsQBml4gDe4cAd8KGK4TZzYJGmqPDZgI6aE jh@jh-Modern-14-B5M
volumes: 
  jenkins_home: 
