services:
  jenkins_controller: 
    image: jenkins/jenkins:2.414.1-lts
    restart: on-failure
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
    
  jenkins_agent:
    image: jenkins/ssh-agent:5.7.0-jdk17
    environment:
      - JENKINS_AGENT_SSH_PUBKEY=ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINVxUeiHKOsQBml4gDe4cAd8KGK4TZzYJGmqPDZgI6aE jh@jh-Modern-14-B5M
volumes: 
  jenkins_home: 
